body{
  margin:0; padding:0;
  box-sizing: border-box;
  font-family:sans-serif;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 2s linear;
}
section{
  padding:2rem 9%;
}
button{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background:#333;
  color: #fff;
  padding:.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
.logo img{         
 width: 500px;
 height: 500px; 
 box-shadow: 0 15px 30px;
}
nav ul {
 list-style-type: none;
 display: flex;
 justify-content: flex-end;
 margin-right: 20px;
}
nav ul li {
 margin-left: 25px;
}
nav ul li a {
 color: black;
 text-decoration: none;
 font-size: 18px;
}
nav ul li a:hover {
 text-decoration: underline;
 font-size: 25px;
}
header{
  position: fixed;
  top:0; left:0; right:0;
  background:#ffff;
  padding:2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0.5rem 1rem rgba;(0.0.0.1);
}
/* header logo */
header .logo{
  font-size: 3rem;
  color:#131470;
}
header .navdar a{
  font-size: 3rem;
  padding:0.1.5rem;
  color:#666; 
}
/* header .navdar icons */
header .icons a{
  font-size: 4rem;
  color: #333;
  margin-left: 2.4rem;
}
/* header .input */
header #toggler{
  display: none;
}
header .fa-bars{
  font-size: 2rem;
  color: #333;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
/* responsive */
@media (max-width: 991px){
  header .far-bars{
   font-size: 30%;
  }
   header{
     padding: 2rem;
    }
    section{
      padding: 2rem;
    }
 }
@media (max-width: 768px){
   header .far-bars{
       desplay: block;
    }
}
header .navbar{
  position:absolute;
  top:100%; left:0; right:0;
  background:#eee;
  border-top: 1rem solid rgba(0,0,0,.1);
  clip-path: polygon (00, 100% 0, 100% 0,00);
}
header #toggler:checked ~.navbar{
 clip-path: polygon (00, 100% 0, 100% 0,00);
}
header .navbar a{
  margin:1.5rem;
  padding:1.5rem;
  background:#fff;
  border:.1rem solid rgba(0,0,0,.1);
  display: block;
}
/* home section start */
.home{
  display: flex;
  align-items: center;
  min-height: 35vh;
  background-image: url(../img/chriscom.png) no-repeat; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home.content p{
  font-size: 2rem;
  padding: 1rem 0;
  line-height: 1.5;
  color: #999;
  text-transform: none;
}
.home.content span{
  font-size: 3.5rem;
  padding: 1rem 0;
  line-height: 1.5;
  font-weight: bolder;
}
.home.content p{
  font-size: 2rem;
  padding: 1rem 0;
  line-height: 1.5;
  color: #999;
  text-transform: none;
}
@media (max-width: 450px) {
html{
    font-size: 30%;
   }
}





container{  
 margin: 0 auto;  
 width: 80%;   
 box-shadow: 0 15px 30px (0,0,0,0.30), 0 11px 8px (0,0,0,0.22);  
 margin-bottom: 20px;  
}
.content{
width: 20%;
margin: 15px;
box-sizing: border-box;
float: left;
text-align: center;
border-radius: 20px;
cursor: pointer;
padding-top: 10px;
box-shadow:  0 18px 36px rgba(0,0,0,0.15);
transition: -45s;
background: #f2f2f2;
}
content:hover{
box-shadow: 0 3px 6px rgba(0,0,0,0.11);
transform: translate(0px, -8px);
}
.p{
text-align: center;
color: #fffff;
padding-top: 0 08;
}
.button{
text-align: center;
font-size: 24px;
color: ;
width: 100%;
padding-top: 15px;
border-radius: 0;
online:none;
corsor: pointer;
margin-top: 5px;
background: #fffff;
}
.img:content>team{ 
width: 150;
height: 200;
border: 5px solid;
padding: 10px;    
text-align: none;
background: #8098ff;
box-shadow: 0 15px 30px;
box-sizing: border-box;
display: auto;
}
footer{
  padding:30px;
  margin-top:20px;
  color: White;
  background: black;
  margin-bottom: 1%;
}
.footer-li {  
  color: White;    
  background: #55d5ff;
  text-decoration: none;  
  margin: 35%;
}
